// .modal-dialog{max-width: 800px; width: 100%;}
.modal-content {
  width: 150% !important;
}
.modal-search-txtbox {
  align-content: right;
}
.card-header .title {
    font-size: 17px;
    color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
.card-header .accicontxt {
    float: right;
    font-size: 20px;
    padding-right: 0.5em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
}
.card{
  border: 1px solid #ddd;
}
.card-body{
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}